
.navbar-brand {
    font-size: 2.25rem;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}


body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmfRSmT2aUJgR1cxItl8-s8R2wygXIymaGIQ&usqp=CAU");
        background-repeat: no-repeat;
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
